.k-about .tagline {
	font-style: italic;
	font-size: 14px;
	margin-left: 55px;
	color: #888;
	font-weight: 300;
}

.nav-tabs.nav-stacked > li > a:hover {
	border: none!important;
}

.k-menu ul.nav {
	margin-left: 0;
}

.k-menu ul.nav li {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 1em;
}

.hero-unit h1 {
	font-weight: 100;
}

.hero-unit p {
	margin-left: 0.4em;
}

.k-intro p, .k-intro li {
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	margin-bottom: 1em;
}

.nav-tabs.nav-stacked > li > a {
	border: 0;	
}

h1, h2 { font-weight: 300; }
h3 { font-weight: normal; }

h1 {
	margin: 0 0 0.3em;
}

.page-header h1 {
	margin: 0;
	font-weight: 300;
}

.k-footer div {
	text-align: right;
	color: #888;
	font-size: 12px;
	margin: 1.5em 0;
	padding: 1ex 0;
}

.k-donate {
	margin: 40px 0 0 12px;
}

.k-donate h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
.k-donate .k-donate-buttons {
	margin-top: 20px;
}

.k-flattr {
	background-image: url(/img/donate.png);
	background-position: 0px 0px;
	width: 86px;
	height: 22px;
	display: block;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
.k-flattr:hover {
	background-position: 0 -22px;
}
.k-flattr span {
	display: none;
}
.k-paypal {
	background-image: url(/img/donate.png);
	background-position: -86px 0px;
	width: 80px!important;
	height: 22px!important;
	display: block;
	border: none!important;
	border-radius: 0;
	cursor: pointer;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.k-paypal:hover {
	background-position: -86px -22px;
}

.k-howto {
	margin-bottom: 2em;
}
.k-big-number span {
	font-size: 30px;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-weight: 100;
	color: #fff;
	display: block;
	background: #69d;
	line-height: 50px;
}
.k-gui .dg {
	color: #000;
	text-shadow: 0 1px 0 #ccc;
}
.k-gui .dg .c input[type="text"] {
	background-color: #DDD;
}
.k-gui .dg .cr.number input[type="text"] {
	color: #356;
}
.k-gui .dg .c .slider {
	background-color: #ddd;
}
.k-gui .dg .c:hover .slider {
	background-color: #fff;
}
.k-gui .dg .close-button {
	display: none;
}
.k-gui .dg li:not(.folder) {
	background: #eee;
	border-bottom: 1px solid #ccc;
}
.k-gui .dg .save-row {
	border-radius: 6px 6px 0 0;
}
.k-gui .dg .save-row select {
	margin-top: 6px;
}
