
body {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 1.6;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	padding: 30px; 
}

.sidebar {
	text-align: center;
}

.sidebar .tagline {
	font-style: italic;
	font-size: 15px;
	text-align: center;
	color: #888;
	padding: 0 15%;
}

.sidebar h3 {
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	margin-top: 20px;
}

.nav-tabs.nav-stacked > li > a:hover {
	border: none!important;
}

.k-menu ul.nav {
	margin: 30px 0;
}

.k-menu ul.nav li {
	text-align: center;
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 1ex;
}

.hero-unit h1 {
	font-weight: 100;
}

.hero-unit p {
	margin-left: 0.4em;
}

.content i {
	font-family: Baskerville, Garamond;
	font-style: italic;
	font-size: 1.1;
}

.content p, .content li {
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 22px;
}

pre {
	background: none;
	border: none;
	margin: 20px 0;
	padding: 0;
}

pre code {
	padding: 10px!important;
	background: #F6f6f6!important;
}

p > code {
	color: #000;
	padding:2px;
	margin: 0 3px;
	border: 1px solid #eee;
}

.content ul, .content ol {
	margin-top: 15px;
	margin-bottom: 15px;
}

.content li {
	margin-bottom: 1ex;
}

.sidebar p {
	color: #555;
	padding: 0 30px;
	font-family: Georgia, serif;
	font-size: 12px;
}

.content h1, .content h2, .content h3,
.sidebar h3, .sidebar .tagline
{
	font-family: Garamond, 'Garamond classico', Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.content.docs h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.content.docs h3 {
	margin: 30px 0 20px;
	font-size: 28px;
	font-weight: normal;
}

.toc ul {
	text-align: center;
	margin: 0;
}

.toc a {
	color: #68a;
	border-bottom: 1px dotted #68a;
}

.toc > ul > li > a {
	border-bottom: 1px solid #68a;
}

.toc > ul > li {
	list-style: none;
	padding: 3px;
}

.toc li > ul {
	margin-top: 3px;
}
.toc li > ul > li {
	list-style: none;
	padding: 2px;
}

.headerlink {
	color: #ccc;
	font-family: Georgia;
	padding: 0 5px;
	visibility: hidden;
}

.headerlink:hover {
	text-decoration: none;
	background: #f9f9f9;
	color: #bbb;
}

h2:hover .headerlink,
h3:hover .headerlink {
	visibility: visible;
}

.nav-tabs.nav-stacked > li > a {
	border: 0;
}


.content h1 {
	margin: 0 0 0.5em;
	font-size: 42px;
	font-weight: normal;
}

.content h2 {
	font-size: 30px;
	margin: 1em 0 0.4em;
	font-weight: normal;
}

.page-header h1 {
	margin: 0;
	font-weight: 300;
}

.k-footer div {
	text-align: right;
	color: #888;
	font-size: 12px;
	margin: 1.5em 0;
	padding: 1ex 0;
}

.k-donate {
	margin: 40px 0 0 12px;
}

.k-donate h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
.k-donate .k-donate-buttons {
	margin-top: 20px;
}

.k-flattr {
	background-image: url(/img/donate.png);
	background-position: 0px 0px;
	width: 86px;
	height: 22px;
	display: block;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
.k-flattr:hover {
	background-position: 0 -22px;
}
.k-flattr span {
	display: none;
}
.k-paypal {
	display: block;
	border: none!important;
	border-radius: 0;
	cursor: pointer;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.k-howto {
	margin-bottom: 2em;
}
.k-big-number span {
	font-size: 30px;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-weight: 100;
	color: #fff;
	display: block;
	background: #69d;
	line-height: 50px;
}
.k-gui .dg {
	color: #000;
	text-shadow: 0 1px 0 #ccc;
}
.k-gui .dg .c input[type="text"] {
	background-color: #DDD;
}
.k-gui .dg .cr.number input[type="text"] {
	color: #356;
	height: 12px;
}
.k-gui .dg .c .slider {
	background-color: #ddd;
}
.k-gui .dg .c:hover .slider {
	background-color: #fff;
}
.k-gui .dg .close-button {
	display: none;
}
.k-gui .dg li:not(.folder) {
	background: #eee;
	border-bottom: 1px solid #ccc;
}
.k-gui .dg .save-row {
	border-radius: 6px 6px 0 0;
}
.k-gui .dg .save-row select {
	margin-top: 6px;
}
.k-gui .dg .cr.boolean:hover {
	background: #ddd;
}

.k-gui .dg .c input[type="checkbox"] {
	margin-top: 0;
}
.k-gui .dg .closed li.title {
	background-image: none;
	background-color: #e4e4e4;
}
.k-gui .dg .cr.number input[type="text"]:hover,
.k-gui .dg .cr.number input[type="text"]:focus {
	color: #eee;
}

.footer {
	text-align: right;
	color: #888;
	font-size: 13px;
}

.footer a {
	color: #888;
	border-bottom: 1px dotted #888;
}

.footer a:hover {
	text-decoration: none;
	border-bottom: 1px solid #555;
	color: #555;
}