.k-about .tagline {
	font-style: italic;
	font-size: 14px;
	margin-left: 55px;
	color: #888;
	font-weight: 300;
}

.k-menu ul.nav {
	margin-left: 0;
}

.k-menu ul.nav li {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 1em;
}

.hero-unit h1 {
	font-weight: 100;
}

.hero-unit p {
	margin-left: 0.4em;
}

.k-intro p {
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.nav-tabs.nav-stacked > li > a {
	border: 0;	
}

h1, h2 { font-weight: 300; }
h3 { font-weight: normal; }

h1 {
	margin: 0 0 0.3em;
}

.page-header h1 {
	margin: 0;
	font-weight: 300;
}