body,html { background: #fff; height:100%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; padding: 0; margin: 0;}

#head {
	margin: 20px auto 5px;
	width: 1000px;
}
#map {
	margin: 0 auto 30px;
	width: 100%;
	border: 6px solid #D1BEB0;
	height: 50%;
	position: relative;
}
.city2 .label {
	font-family: Georgia;
	font-size: 12px;
	text-transform: uppercase;
	font-style: italic;
	color: #000;
	opacity: 1;
	padding-left: 1px;
	text-shadow: 1px 1px 1px #fff;
	display: inline;
}
.city .label {
	font-family: Georgia;
	font-size: 12px;
	color: #411;
	opacity: .8;
	padding-left: 1px;
	text-shadow: 1px 1px 1px #fff;
	display: none;
	background: #fff;
}
.city:hover .label {
	display: inline;
}
svg .flight {
	stroke-width: .4px;
	stroke: #922;
}
svg path { stroke-linejoin: round }
svg .sea { fill: #fff;stroke-width: .25px; }
svg .g1 {
	fill: none;
	stroke-width: .2px;
}
svg .g2 {
	fill: none;
	stroke-width: .2px;
	stroke-opacity: .1;
}
svg .bg {
	stroke: none;
	fill: #fff;
	fill-opacity: 0.75;
}
svg .bgstroke {
	stroke: #7C5B27;
	stroke-width:.7px;
	fill:none;
}
svg .context {
	stroke: #D1BEB0;
	stroke-opacity: .3;
	fill: #D1BEB0;
	fill-opacity: .2;
}
svg .fg {
	stroke: #cbb;
	stroke-opacity: 1;
	stroke-dasharray: 3,5;
	fill: #fff;
	fill-opacity: 0;
}
svg .polygon.fg:hover {
	fill: #fca;
	fill-opacity: .5;
}

svg .dotMarker {
	stroke: #330;
	stroke-opacity: .8;
	fill: #ff7;
	fill-opacity: .2;
}
svg .dotMarker:hover {
	stroke: #000;
	fill: #ff3;
	fill-opacity: .7;
}	
#tutorial {
	margin: 20px auto 30px;
	width: 1000px;
	padding: 30px;
}
#map svg .sea {
	background: lightblue;
}