body,html { background: #fff; height:100%; min-height: 650px; font-family: Lato,Helvetica Neue, Helvetica, Arial, sans-serif; padding: 0; margin: 0;}

#title {
	width: 150px;
	position: absolute;
	left: 0; top: 0;
	height: 99%;
	color: #000;
}
#title div {
	text-align: center;
	font-weight: 300;
	margin: 7px 20px;
	font-size: 12px;
}
#title .v {
	font-weight: bold;
	cursor: pointer;
	color: #444;
}
#title .v .pro { color: #387bff; }
#title .v .contra { color: #ffa042; }
#title #cdu { color: #000; }
#title #gruene { color: #6c6; }
#title #spd { color: #c33; }
#title #fdp { color: #993; }
#title #linke { color: #939; }

.bar.cdu { background: #000; }
.bar.gruene { background: #6c6; }
.bar.spd { background: #c33; }
.bar.fdp { background: #993; }
.bar.linke { background: #939; }

.barchart { margin-top: 9px; }
.barchart .col {
	width: 40px;
	float: left;
}
.barchart .col .lbl {
	font-size: 9px;
	text-align: center;
}
.barchart .col .bar {
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	color: #fff;
}

#title .v.inactive:hover, #title .v.inactive:hover span {
	font-weight: bold;
}
#title .v.inactive, #title .v.inactive span {
	color: #999!important;
	font-weight: 300;
}
#title .l1 {
	font-weight: bold;
	font-size: 27px;
	margin: 15px 20px 0;
}
#title .l2 {
	font-weight: bold;
	font-size: 99px;
	line-height: 85px;
	margin: 0 20px 10px;
}
#title .d {
	margin: 30px 20px 15px;
	font-weight: 300;
	padding-bottom: 8px;
	font-size: 13px;
	border-bottom:1px solid #000;
}
#title .intro {
	font-style: italic;
	margin-bottom:25px;
	font-size: 13px;
}

#credits {
	position: absolute;
	bottom: 30px;
	text-align: right;
	line-height: 18px;
	right: 30px;
	font-size: 12px;
	font-weight: 300;
}
.ui-tooltip-content td { font-weight: 300; color: #444; } 
.ui-tooltip-content td.lbl { color: #000; text-decoration: underline; }
.ui-tooltip-content th { color: #444; padding-right: 1em; font-weight: 300; font-style: italic; }
.ui-tooltip-content td.l2 {
	padding-top: 6px;
}

#legend {
	position: absolute;
	top: 144px;
	left: 180px;
}

#legend .c {
	width: 23px;
	height: 18px;
	margin: 0 5px 5px 0;
	float: none;
	border: 1px solid #f0f0f0;
	position: static;
	background: #fff;
}
#legend .c .v {
	position: relative;
	left: 28px;
	font-size: 12px;
	white-space:nowrap;
	font-weight: 300;
	top: 1px;
	color: #777;
	font-style: italic;
}

#plot {
	position: absolute;
	bottom: 130px;
	right: 30px;
	width: 440px;
	height: 400px;
}
#plotc {
	height: 100%;
	width: 100%;
	border: 1px solid #ddd;
}
#xmenu .xmenu, #ymenu .ymenu {
	font-weight: bold;
	cursor: pointer;
	display: inline;
	padding: 0 1ex;
}
#xmenu .xmenu.inactive, #ymenu .ymenu.inactive {
	color: #999!important;
	font-weight: 300;
}
#xmenu { text-align: center; margin-top: 5px; } 
#ymenu { 
	position: absolute;
	left: -220px;
	top: 200px;
	height: 30px;
	width: 400px;
	text-align: center;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.scatterplot {
	position: relative;
}
.scatterplot .dot {
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 10px;
	height: 10px;
}
.scatterplot .dot.hidden {
	/*background: #ddd!important;*/
}
.scatterplot .dot.r2 { width: 4px; height: 4px; border-radius: 2px; }
.scatterplot .dot.r3 { width: 6px; height: 6px; border-radius: 3px; }
.scatterplot .dot.r4 { width: 8px; height: 8px; border-radius: 4px; }
.scatterplot .dot.r5 { width: 10px; height: 10px; border-radius: 5px; }

#map {
	background: #fff;
	width: 50%;
	min-width: 500px;
	height: 99%;
	margin-left: 140px;
}
svg path { stroke-linejoin: round }

svg .polygon.bg {
	stroke: #ddd;
	stroke-width:10px;
}
svg .polygon.gemeinden {
	stroke: #000;
	stroke-width:0.2px;
	fill: #fff
}
svg .polygon.gemeinden:hover {
	stroke-width:1.5px;
}

svg .dotMarker {
	stroke: #330;
	stroke-opacity: .8;
	fill: #ff7;
	fill-opacity: .2;
}
svg .dotMarker:hover {
	stroke: #000;
	fill: #ff3;
	fill-opacity: .7;
}	