body,html { background: #fff; height:100%; min-height: 650px; font-family: Lato,Helvetica Neue, Helvetica, Arial, sans-serif; padding: 0; margin: 0;}

#title {
	width: 180px;
	position: absolute;
	left: 0; top: 0;
	height: 99%;
	color: #000;
}
#title div {
	text-align: center;
	font-weight: 300;
	margin: 7px 20px;
	font-size: 12px;
}
#title .v, #title .v a {
	font-weight: bold;
	cursor: pointer;
	color: #29c;
}
#title .v .pro { color: #387bff; }
#title .v .contra { color: #ffa042; }
#title #cdu { color: #000; }
#title #gruene { color: #6c6; }
#title #spd { color: #c33; }
#title #fdp { color: #993; }
#title #linke { color: #939; }

#title .v.inactive a.plot {
	text-decoration: none;
	font-weight: 300;
	color: #777;
}

.bar.cdu { background: #000; }
.bar.gruene { background: #6c6; }
.bar.spd { background: #c33; }
.bar.fdp { background: #993; }
.bar.linke { background: #939; }

.barchart { margin-top: 9px; }
.barchart .col {
	width: 40px;
	float: left;
}
.barchart .col .lbl {
	font-size: 9px;
	text-align: center;
}
.barchart .col .bar {
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	color: #fff;
}

#title .v.inactive:hover, #title .v.inactive:hover span {
	font-weight: bold;
}
#title .v.inactive, #title .v.inactive span {
	color: #777!important;
	font-weight: 300;
}
#title .l1 {
	font-weight: bold;
	font-size: 27px;
	margin: 15px 20px 0;
}
#title .l2 {
	font-weight: bold;
	font-size: 99px;
	line-height: 85px;
	margin: 0 20px 10px;
}
#title .d {
	margin: 20px 20px 15px;
	font-weight: 300;
	padding-bottom: 8px;
	font-size: 13px;
	border-bottom:1px solid #000;
}

#text {
	font-weight: 300;
	position: absolute;
	left: 58%;
	right: 20px;
	top: 30px;
	bottom: 60px;
	padding: 10px 30px;
	margin: 0;
	overflow-y: scroll;
	box-shadow: none;
	border-left: 1px dashed #bbb;
}

#text .intro {
	font-style: italic;
	margin-bottom:25px;
	font-size: 17px;
}

#text p {
	font-size: 13px;
	line-height: 20px;
	margin: 0 0 1em;
}

#text a {
	font-weight: bold;
	text-decoration: none;
	color: #29c;
	padding: 0 0.3ex;
	text-transform: uppercase;
} 
#text p a.plot, a.plot {
	font-weight: bold;
	/*color: #c47;*/
	text-transform: none;
	text-decoration: none;
} 

#text blockquote {
	font-style: italic;
	font-size: 13px;
	line-height: 20px;
	margin-left: 2em;
}

#text a.extern {
	font-weight: 300;
	padding: 0;
	text-transform: none;
}
#text a.extern:hover {
	text-decoration: underline;
}
#credits {
	position: absolute;
	bottom: 25px;
	text-align: right;
	line-height: 18px;
	right: 30px;
	font-size: 13px;
	font-weight: 300;
}
.ui-tooltip-content td { font-weight: 300; color: #444; } 
.ui-tooltip-content td.lbl { color: #000; text-decoration: underline; }
.ui-tooltip-content th { color: #444; padding-right: 1em; font-weight: 300; font-style: italic; }
.ui-tooltip-content td.l2 {
	padding-top: 6px;
}

#legend {
	position: absolute;
	top: 144px;
	left: 180px;
}

#legend .c {
	width: 23px;
	height: 18px;
	margin: 0 5px 5px 0;
	float: none;
	border: 1px solid #f0f0f0;
	position: static;
	background: #fff;
}
#legend .c .v {
	position: relative;
	left: 28px;
	font-size: 12px;
	white-space:nowrap;
	font-weight: 300;
	top: 1px;
	color: #777;
	font-style: italic;
}

#plot {
	position: absolute;
	bottom: 12%;
	top: 7%;
	background: #fff;
	width: 43%;
	left: 165px;
	
}

#plotc {
	height: 90%;
	width: 100%;
	border-bottom: 1px solid #444;
	border-left: 1px solid #444;
	
}
#plotmenu {
	
	padding: 20px 0 0;
	font-weight: 300;
}
#plotmenu select {
	display: inline;
	font-size: 14px;
	padding: 3px 10px 3px 0;
	font-weight: bold;
	font-family: Lato, Helvetica Neue;
}
#plotmenu label {
	display: block;
	float: left;
	width: 160px;
	padding: 4px 0 0 0;
}


.scatterplot {
	position: relative;
}
.scatterplot .dot {
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 10px;
	height: 10px;
}
.scatterplot .dot.focus {
	
}
.scatterplot .dot.r2 { width: 4px; height: 4px; border-radius: 2px; }
.scatterplot .dot.r3 { width: 6px; height: 6px; border-radius: 3px; }
.scatterplot .dot.r4 { width: 8px; height: 8px; border-radius: 4px; }
.scatterplot .dot.r5 { width: 10px; height: 10px; border-radius: 5px; }

#map, #loading {
	background: #fff;
	width: 45%;
	height: 99%;
	min-height: 550px;
	margin-left: 170px;
}
#loading {
	z-index: 20;
	font-weight: 300;
	font-style: italic;
	margin-top: 25%;
	text-align: center;
}
svg path { stroke-linejoin: round }

svg .polygon.bg {
	stroke: #dbdbdb;
	stroke-width:10px;
}
svg .polygon.gemeinden {
	stroke: #000;
	stroke-width:0.2px;
	fill: #fff
}
svg .polygon.gemeinden:hover {
	stroke-width:1.5px;
}

svg .dotMarker {
	stroke: #330;
	stroke-opacity: .8;
	fill: #ff7;
	fill-opacity: .2;
}
svg .dotMarker:hover {
	stroke: #000;
	fill: #ff3;
	fill-opacity: .7;
}	

#iedisclaimer {
	background: #ffffee;
	position: absolute;
	top: 0;
	left: 10%;
	right: 10%;
	border: 1px solid #ddb;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	font-family: Lato;
	padding: 1em 2em;
	z-index: 1000;
}