<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">

	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/k.css" type="text/css" />
   <!-- Le fav and touch icons -->
   <link rel="shortcut icon" href="/favicon.ico">
   <link rel="apple-touch-icon" href="/img/apple-touch-57.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-72.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-114.png">

{% for style in page.styles %}
   <link rel="stylesheet" href="{{ style }}" type="text/css" />
{% endfor %}
   <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
   <script type="text/javascript" src="/js/raphael-2.1.0.min.js"></script>
   <script type="text/javascript" src="/js/kartograph.min.js"></script>

</head>
<body>


	{{ content }}

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.kartograph.org/" : "http://piwik.kartograph.org/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 14);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.kartograph.org/piwik.php?idsite=14" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>

