---
layout: core
---

<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>

	<div class="container">
		<div class="row">
			<div class="span6 offset6">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="span3 k-about">
				<a href="/"><img src="/img/logotype.png" alt="Kartograph" /></a>
				<p class="tagline">A simple and lightweight framework for creating beautiful, interactive vector maps.</p>
			</div>
			<div class="span9">
				<div class="hero-unit"{% if page.headbg %} style="background:url({{page.headbg}})" {% endif %}>
   				<h1>{{ page.headline }}</h1>
   				<p>{{ page.tagline }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span3 k-menu">
				<ul class="nav nav-tabs nav-stacked">
					<li{% if page.url == "/index.html" %} class="active" {% endif %}><a href="/">Hello Kartograph</a></li>
					<li{% if page.url contains "/showcase/" %} class="active" {% endif %}><a href="/showcase/">Showcase</a></li>
					<li{% if page.url contains "/about/" %} class="active" {% endif %}><a href="/about/">How does it work?</a></li>
					<li><a target="_blank" href="http://github.com/kartograph/">Fork on Github</a></li>
					<li><a target="_blank" href="http://twitter.com/#!/kartographjs/">Say Hi on Twitter</a></li>
				</ul>
				<div class="k-donate">

					<p>Kartograph is the work of a single <a href="http://gka.me">developer</a>, so contributions are highly appreciated!</p>

					<div class="k-donate-buttons">
						<a href="https://flattr.com/donation/give/to/gka" class="k-flattr"><span>Flattr</span></a>

						<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_donations">
							<input type="hidden" name="business" value="donate@kartograph.org">
							<input type="hidden" name="lc" value="US">
							<input type="hidden" name="item_name" value="Kartograph">
							<input type="hidden" name="no_note" value="0">
							<input type="hidden" name="currency_code" value="EUR">
							<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
							<!--<input type="image" src="/img/paypal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
							<input type="submit" class="k-paypal" value="" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
<br /><a href="http://flattr.com/thing/554581/Kartograph-rethinking-mapping" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-small.png" alt="Flattr this" title="Flattr this" border="0" /> Flattr this</a>
					</div>
				</div>

			</div>
			<div class="span9">
				{{ content }}
			</div>
		</div>
	</div>
