---
layout: core
---

<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>

	<div class="container">
		<div class="row">
			<div class="span6 offset6">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="span3 sidebar">
				<div class="head">
					<a href="/"><img src="/img/logo.png" alt="Kartograph" /></a>
					<p class="tagline">A simple and lightweight framework for creating beautiful, interactive vector maps.</p>
				</div>

				{% if page.toc %}
					{% if page.toc == true %}
						<div class="toc">
							<h3>Table of Contents</h3>
						</div>
					{% else %}
						{% for tocinfo in page.toc %}
						<div class="toc">
							<h3>{{ tocinfo[0] }}</h3>

							<ul>
								{% for l in tocinfo[1] %}
									{% if l[1]['_'] %}
									<li><a href="{{ l[0] }}">{{ l[1]['_'] }}</a>
										<ul>
										{% for s in l[1] %}
										{% if s[0] != '_' %}
										<li><a href="{{ s[0] }}">{{ s[1] }}</a></li>
										{% endif %}
										{% endfor %}
										</ul>
									</li>
									{% else %}
									{% capture longurl %}{{ l[0] | append:'/index.html' }}{% endcapture %}
									<li{% if longurl == page.url %} class="active"{% endif %}><a href="{{ l[0] }}">{{ l[1] }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
						{% endfor %}
					{% endif %}
				{% endif %}


				<div class="k-donate">

					<h3>Donate</h3>
					<p>If you love Kartograph, consider donating an amount of your choice through <a href="https://www.gittip.com/gka/">Gittip</a> or <a href="https://flattr.com/profile/gka">Flattr</a>.</p>

					<div class="k-donate-buttons">
						<iframe style="border: 0; margin: 0; padding: 0;"
						        src="https://www.gittip.com/gka/widget.html"
						        width="48pt" height="20pt"></iframe> <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://kartograph.org"></a>
						<noscript><a href="http://flattr.com/thing/554581/Kartograph-rethinking-mapping" target="_blank">
						<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
					</div>

				</div>

				<div class="feedback">
					<h3>Feedback</h3>
					<p>Feedback is highly appreciated, feel free to send comments, questions, and suggestions <a href="mailto:feedback@kartograph.org">via email</a>.</p>
				</div>


			</div>

			<div class="span9">
				{% if page.headline %}
				<div class="hero-unit"{% if page.headbg %} style="background:url({{page.headbg}})" {% endif %}>
   					<h1>{{ page.headline }}</h1>
   					<p>{{ page.tagline }}</p>
				</div>
				{% endif %}
				<div class="content{% if page.class %} {{ page.class }}{% endif %}">
					{{ content }}
				</div>
				<div class="footer">
					&copy; Copyright 2012. Created by <a href="http://driven-by-data.net">Gregor Aisch</a>.
				</div>
			</div>
		</div>
	</div>
