---
layout: core
---
	<div class="container">
		<div class="row">
			<div class="span6 offset6">
				<ul class="nav nav-tabs">
					<li>Contact</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span3 k-about">
				<a href="/"><img src="/img/logotype.png" alt="Kartograph" /></a>
				<p class="tagline">A simple and lightweight framework for creating beautiful, interactive vector maps.</p>
			</div>
			<div class="span9">
				<div class="hero-unit">                                                                                                                                     
   				<h1>{{ page.headline }}</h1>
   				<p>{{ page.tagline }}</p>                                                                                                                           
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="span3 k-menu">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="/">Hello Kartograph</a></li>
					<li><a href="/showcase/">Demonstration</a></li>
					<li><a href="/tech.html">How does is work?</a></li>
					<li><a href="http://github.com/kartograph/">Fork on Github</a></li>
					<li><a href="http://twitter.com/#!/kartographjs/">Say Hi on Twitter</a></li>
				</ul>
			</div>
			<div class="span9">
				{{ content }}
			</div>
		</div>
	</div>
