---
layout: default
scripts: [[kartograph, '/js/jquery.min.js', '/js/raphael.min.js', '/js/kartograph.js', '/js/chroma.min.js'], [highlightjs, '/js/highlight/highlight.pack.js']]
styles: ['/js/highlight/styles/github.css']
toctitle: Showcases
toc:
    Showcases:
        - ['/showcase/animated-symbols', 'Animated Symbols']
        - ['/showcase/italia', 'La Bella Italia']
        - ['/showcase/choropleth', 'Choropleth Maps']
        - ['/showcase/symbols', 'Symbol Maps']
        - ['/showcase/clustering', 'Clustering Map Symbols']
        - ['/showcase/charts', 'Chart Maps']
        - ['/showcase/dotgrid', 'Dot-grid Maps']
        - ['/showcase/3d', '3D-Projections']
        - ['/showcase/projections', 'Map Projections']
        - ['/showcase/eastcoast', 'High-res vector mapping']
---

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/raphael.min.js"></script>
<script type="text/javascript" src="/js/kartograph.min.js"></script>

	<h1>{{ page.title }}</h1>

	{{ content }}

</div>

<script type="text/javascript">

$script.ready('highlightjs', function() {
    $('pre code').each(function(i, e) {
        var code = $(e).html().trim(), 
            code2 = code.replace(/\s/g, ''),
            last = code2.substr(code2.length-1, 1);

        if (code.substr(0,1) == '"' && (last == '}' || last == ']')) {
            e.className = 'json';
            $(e).html('{'+code+'}');
            hljs.highlightBlock(e);
            var i = $(e).html()
            $(e).html(i.substr(1, i.length-2));
            return;
        } else if (last == ';') {
            e.className = 'javascript';
        }

        hljs.highlightBlock(e)
    });
});

</script>
